{{define "subject"}} Activate your Greenlight account {{end}}


{{define "plainBody"}} 

Hi,
Please send a `PUT /v1/users/activated` request with the following JSON body to activate your account: 
{"token": "{{.activationToken}}"}


For a React (say localhost:300) frontend and Go backend:

To activate your Greenlight account, please click the following link: 

http://localhost:3000/activate?token={{.activationToken}}

The React frontend app should then display a button that says something 
like "Confirm your account activation", and some JavaScript on the webpage can 
extract the token from the URL and submit it to your PUT /v1/users/activate API 
endpoint when the user clicks the button.


Please note that this is a one-time use token and it will expire in 3 days.
Thanks,

The Greenlight Team 

{{end}}



{{define "htmlBody"}} 

<!doctype html> 

<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> 

<body>
<p>Hi,</p>

<p>Please send a <code>PUT /v1/users/activated</code> request with the following JSON body to activate your account:</p> 

<pre><code>

{"token": "{{.activationToken}}"}

</code></pre>

<p> 
For a React (say localhost:300) frontend and Go backend:

To activate your Greenlight account, please click the following link: 

<link href="http://localhost:3000/activate?token={{.activationToken}}" />

The React frontend app should then display a button that says something 
like "Confirm your account activation", and some JavaScript on the webpage can 
extract the token from the URL and submit it to your PUT /v1/users/activate API 
endpoint when the user clicks the button.


We also need to take steps to avoid the token being leaked in a referrer header 
if the user navigates to a different site. You can use the 
Referrer-Policy: Origin header or <meta name="referrer" content="origin"> 
HTML tag to mitigate this, although you should be aware that it's not 
supported by absolutely all web browsers (support is currently at ~96%).

</p>

<p>Please note that this is a one-time use token and it will expire in 3 days.</p>
<p>Thanks,</p>
<p>The Greenlight Team</p>
</body> 

</html>
{{end}}